apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  creationTimestamp: null
  name: release
spec:
  pipelineSpec:
    tasks:
    - name: from-build-pack
      resources: {}
      taskSpec:
        metadata: {}
        stepTemplate:
          name: ""
          resources: {}
          workingDir: /workspace/source
        steps:
        - image: gcr.io/jenkinsxio/jx-release-version:2.4.2
          name: next-version
          resources: {}
          script: |
            #!/usr/bin/env sh
            jx-release-version --tag > VERSION
          env:
          - name: GIT_TOKEN
            valueFrom:
              secretKeyRef:
                name: tekton-git
                key: password
          - name: GIT_USER
            valueFrom:
              secretKeyRef:
                name: tekton-git
                key: username
        - image: ghcr.io/jenkins-x/jx-boot:3.2.55
          name: jx-variables
          resources: {}
          script: |
            #!/usr/bin/env sh
            jx gitops variables
        - image: gcr.io/jenkinsxio/builder-go:2.1.142-761
          name: build-basic-auth-username
          resources: {}
          script: |
            #!/usr/bin/env bash
            jx step credential -s jenkins-x-chartmuseum -k BASIC_AUTH_USER -f /builder/home/basic-auth-user.json
        - image: gcr.io/jenkinsxio/builder-go:2.1.142-761
          name: build-basic-auth-password
          resources: {}
          script: |
            #!/usr/bin/env bash
            jx step credential -s jenkins-x-chartmuseum -k BASIC_AUTH_PASS -f /builder/home/basic-auth-pass.json
        - image: gcr.io/jenkinsxio/builder-go:2.1.142-761
          name: build-release
          resources: {}
          script: |
            #!/bin/sh
            make release
  podTemplate: {}
  serviceAccountName: tekton-bot
  timeout: 240h0m0s
status: {}
