apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: build-scan-push
spec:
  stepTemplate:
    env:
    - name: HOME
      value: /tekton/home
    - name: AWS_SDK_LOAD_CONFIG
      value: "true"
    - name: AWS_EC2_METADATA_DISABLED
      value: "true"
    - name: AWS_ECR_DISABLE_CACHE
      value: "true"
    - name: SCAN_VULNERABILITY_REGEXP
      value: "CRITICAL"
    envFrom:
    - secretRef:
        name: jx-boot-job-env-vars
        optional: true
    name: ""
    resources: {}
    workingDir: /workspace/source
  steps:
  - image: gcr.io/kaniko-project/executor:v1.9.1-debug
    name: build-container
    resources: {}
    script: |
      #!/busybox/sh
      source .jx/variables.sh
      /kaniko/executor $KANIKO_FLAGS --context=/workspace/source --dockerfile=${DOCKERFILE_PATH:-Dockerfile} --destination=$PUSH_CONTAINER_REGISTRY/$DOCKER_REGISTRY_ORG/$APP_NAME:$VERSION --no-push --tarPath image.tar --image-fs-extract-retry 3
      cp /kaniko/docker-credential-gcr /workspace/source
      cp /kaniko/docker-credential-ecr-login /workspace/source
      cp /kaniko/docker-credential-acr-env /workspace/source
  - image: babadofar/trivy-db:1
    name: copy-vulns-db
    resources: {}
    script: |
      #!/bin/sh
      mkdir -p ~/.cache/trivy/java-db
      mv /trivydb/java-db/* ~/.cache/trivy/java-db/

      mkdir -p ~/.cache/trivy/db
      mv /trivydb/* ~/.cache/trivy/db/
  - image: aquasec/trivy:0.37.1
    name: vulnscan
    resources: {}
    script: |
      trivy image --skip-db-update --input /workspace/source/image.tar > /workspace/source/scanresults.txt
  - image: ghcr.io/jenkins-x/jx-boot:3.10.45
    name: analyze
    resources: {}
    script: |
      #!/bin/bash
      source .jx/variables.sh
      cat /workspace/source/scanresults.txt
      if [[ -n "$PULL_NUMBER" ]]
      then
        jx gitops pr comment -c "\`\`\`  $(< /workspace/source/scanresults.txt)  \`\`\`"
      fi
      if egrep -i "${SCAN_VULNERABILITY_REGEXP:-HIGH|CRITICAL}" /workspace/source/scanresults.txt | grep -qv Total
      then
        echo "Vulnerabilities found!"
        exit 1
      else
        echo "No vulnerabilities found."
      fi
  - image: gcr.io/go-containerregistry/crane/debug:59b5c06eb64f0b6500bd94d71b473adf6079e444
    name: push-container
    resources: {}
    script: |
      #!/busybox/sh
      source .jx/variables.sh
      export PATH=/workspace/source:$PATH
      mkdir -p ~/.docker
      cp /tekton/creds-secrets/tekton-container-registry-auth/.dockerconfigjson ~/.docker/config.json

      crane push /workspace/source/image.tar $PUSH_CONTAINER_REGISTRY/$DOCKER_REGISTRY_ORG/$APP_NAME:$VERSION
  - image: ghcr.io/jenkins-x/cosign:v0.3.1-0.0.3
    name: sign-and-push-signature-and-cleanup
    resources: {}
    script: |
      #!/busybox/sh
      source .jx/variables.sh
      mkdir -p ~/.docker/

      cp /tekton/creds-secrets/tekton-container-registry-auth/.dockerconfigjson ~/.docker/config.json

      cosign sign --key k8s://jx/cosign $PUSH_CONTAINER_REGISTRY/$DOCKER_REGISTRY_ORG/$APP_NAME:$VERSION
      cosign verify --key k8s://jx/cosign $PUSH_CONTAINER_REGISTRY/$DOCKER_REGISTRY_ORG/$APP_NAME:$VERSION
      rm /workspace/source/image.tar /workspace/source/scanresults.txt /workspace/source/docker-credential-gcr /workspace/source/docker-credential-ecr-login /workspace/source/docker-credential-acr-env
  workspaces:
  - description: Build, scan and push to the registry
    mountPath: /workspace
    name: output
    podTemplate: {}
  serviceAccountName: tekton-bot
  timeout: 12h0m0s
