apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: git-clone-pr
spec:
  workspaces:
  - name: output
    description: The git repo will be cloned onto the volume backing this workspace
    mountPath: /workspace
  steps:
  - script: |
      #!/usr/bin/env bash
      export SUBDIR="source"
      echo "git cloning url: $REPO_URL version $PULL_PULL_SHA to dir: $SUBDIR"
      git config --global --add user.name ${GIT_AUTHOR_NAME:-jenkins-x-bot}
      git config --global --add user.email ${GIT_AUTHOR_EMAIL:-jenkins-x@googlegroups.com}
      git config --global credential.helper store
      git clone $REPO_URL $SUBDIR
      cd $SUBDIR
      git checkout $PULL_PULL_SHA
      echo "checked out revision: $PULL_PULL_SHA to dir: $SUBDIR"
    image: gcr.io/jenkinsxio/builder-jx:2.1.142-761
    name: git-clone
    resources: { }
    workingDir: /workspace
  - args:
    - step
    - git
    - merge
    - --verbose
    - --baseSHA
    - $(params.PULL_BASE_SHA)
    - --sha
    - $(params.PULL_PULL_SHA)
    - --baseBranch
    - $(params.PULL_BASE_REF)
    command:
    - jx
    image: gcr.io/jenkinsxio/builder-jx:2.1.142-761
    name: git-merge
    workingDir: /workspace/source
