apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  creationTimestamp: null
  name: release
spec:
  pipelineSpec:
    tasks:
    - name: updatebot
      taskSpec:
        metadata: {}
        stepTemplate:
          env:
          - name: HOME
            value: /tekton/home
          envFrom:
          - secretRef:
              name: jx-boot-job-env-vars
              optional: true
          name: ""
          resources: {}
          workingDir: /workspace/source
        steps:
        - command:
          - jx-updatebot
          - pr
          image: ghcr.io/jenkins-x/jx-updatebot:0.0.91
          name: promote-release
          resources: {}
  serviceAccountName: tekton-bot
  timeout: 12h0m0s
status: {}
